{{define "title"}}Create a new snippet{{end}}

{{define "main"}}
<form action="/snippet/create" method="post">
  <div>
    <label for="title">Title:</label>
    {{with .Form.FieldErrors.title}}
    <label for="title" class="error">{{.}}</label>
    {{end}}
    <input name="title" type="text" value="{{.Form.Title}}">
  </div>
  <div>
    <label for="content">Content:</label>
    {{with .Form.FieldErrors.content}}
    <label for="content" class="error">{{.}}</label>
    {{end}}
    <textarea name="content" id="content" value="{{.Form.Content}}"></textarea>
  </div>
  <div>
    <label for="expires">Delete in:</label>
    {{with .Form.FieldErrors.expires}}
    <label for="content" class="error">{{.}}</label>
    {{end}}
    <input type="radio" name="expires" id="expires-in-one-year" value="365" {{if (eq .Form.Expires 365)}}checked{{end}}>
    <label for="expires-in-one-year">
      One year
    </label>


    <input type="radio" name="expires" id="expires-in-one-week" value="7" {{if (eq .Form.Expires 7)}}checked{{end}}>
    <label for="expires-in-one-week">
      One week
    </label>

    <input type="radio" name="expires" id="expires-in-one-day" value="1" {{if (eq .Form.Expires 1)}}checked{{end}}>
    <label for="expires-in-one-day">
      One day
    </label>
  </div>
  <div>
    <input type="submit" value="Publish snippet">
  </div>
</form>
{{end}}